@model IEnumerable<EasyPlan.Models.Tbl_Jornada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

 
<div class="card text-center">

    <div class="card-body">
        <img src="~/Content/logo.jpg" />
        <h5 class="card-title">Journeys</h5>
        <a href="@Url.Action("Create","Jornada")" class="btn btn-primary"> Add New </a>
    </div>
</div>
<table class="table table-dark" style="text-align:center">
    <thead>
        <tr>
            <th scope="col">
                Type
            </th>
            <th scope="col">
                Worker
            </th> 
            <th scope="col">
                Day
            </th>
            <th scope="col">
                Value
            </th>
            <th scope="col"> Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoJornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_Trabajador.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioJornada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idJornada }) |
                @Html.ActionLink("Details", "Details", new { id = item.idJornada }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idJornada })
            </td>
        </tr>
        }
    </tbody>
</table>
