@model IEnumerable<EasyPlan.Models.Tbl_Trabajador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmpleo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDespido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InicioIncapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalIncapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Padecimientos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmpleo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDespido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InicioIncapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalIncapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Padecimientos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CedulaTra }) |
            @Html.ActionLink("Details", "Details", new { id=item.CedulaTra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CedulaTra })
        </td>
    </tr>
}

</table>
